# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pyproj
*.ipynb_checkpoints/

# Virtual Environment
venv/
env/
ENV/
.vscode/

# IDE/Editor specific
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swn
*.bak
*.cache
*.csproj.user
*.dbmdl
*.dbproj.schemaview
*.dotSettings
*.dll.refresh
*_i.c
*_p.c
*.ilk
*.log
*.mm
*.nb0
*.nib
*.sdf
*.tlb
*.tlog
*.tlog/
*.tmh
*.tmp
*.tmp_proj
*.tmp_proj/
*.user
*.userosscache
*.usertypefavorites
*.wbk
*.xcuserdata
*.xcworkspace
*.xcuserstate
*.xcuserdatad/
*.xpt
*.xsc
*.xsharper
*.xsn
*.xsscc
*.xst
*.XTIDC
*.xti
*.XTTF
*.xtt
*.pdb
*.obj

# Tests
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache/

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg
*.whl
*.swp
*.swo
*.swp

# Documentation
docs/_build/

# System Files
.DS_Store
Thumbs.db

